<p>
  Found <%= pluralize(@pokemons.size, 'result') %>
  for the search term "<%= params[:search_term] %>".
</p>

<div class="search-results columns is-multiline">
  <%= render partial: 'pokemons/pokemon',
             collection: @pokemons,
             locals: { show_link: true } %>
</div>